#region bot

# (Required) Application or client ID from Discord Developer Portal
APPLICATION_ID=
# (Required) Token from Discord Developer Portal
BOT_TOKEN=
# (Required) Make sure to add the application / client ID below and adjust permissions and scope as needed:
BOT_INVITE_URL="https://discord.com/api/oauth2/authorize?client_id=__INSERT_ID_HERE__&permissions=292058098752&scope=bot%20applications.commands"
# (Required) invite to the support server
SUPPORT_SERVER_INVITE_URL="https://dc.sv443.net/"

#region database

# (Required) Connection URL for the Postgres DB
DB_URL="postgresql://user:password@localhost:5432/yt-info-bot"
# If set to true, logs all DB operations
DB_DEBUG=false

#region other

# If set, the guild and channel ID will be used to resolve a channel where a metrics message will be sent to
METRICS_GUILD=
METRICS_CHANNEL=

# Can be either development or production
NODE_ENV="development"

# Empty for no prefix, else all command names will have this prefix
CMD_PREFIX=

# Whether to send a bell character to the terminal when the bot is ready to receive commands
BELL_ON_READY=
